h1,h2,h3,h4,h5,h6,p,a {
  -webkit-font-smoothing: antialiased !important;
}

body {
  font-family: 'EB Garamond', serif;
  font-size: 16px;
  overflow-y: hidden;
}

a {
  font-family: 'EB Garamond', serif;
  font-weight: 400;
  color: rgba(0,0,0,1);
  text-decoration: underline;
  transition: 0.25s ease-in-out;
  cursor: pointer;
}

a:hover {
  color: rgba(11,20,128,1);
}

.main-heading {
  font-family: 'EB Garamond', serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 1.15;
}

.container {
  position: relative;
  z-index: 999;
}

.content {
  position: relative;
  max-width: 1140px;
  width: 80%;
  margin: 60px 4.25vw;
  animation: fadein 1s cubic-bezier(0,0,0.2,1);
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.contact-info__emojis img {
  width: 27px;
  margin: 0 5px;
}

#contact-info {
  display: inline-flex;
  align-items: baseline;
}

#point-left-emoji, #mail-heart-emoji {
  display: inline-block;
  margin: 0 5px;
  transition: 0.25s ease-in-out;
  cursor: pointer;
}

#point-left-emoji:hover {
  margin-left: 0px;
  margin-right: 10px;
}

/* @media (min-width: 812px) {
  .content {
    animation: slideup 400ms cubic-bezier(0.16, 0.05, 0, 1), fadein 1s cubic-bezier(0,0,0.2,1);
  }
  @keyframes slideup {
    from {
      top: 10px;
    }
    to {
      top: 0;
    }
  }
} */

@media (max-width: 812px) {
  body {
    position: fixed;
    overflow: hidden !important;
  }
}

@media (max-width: 500px) {
  body {
    width: 100%;
    height: 100%;
  }

  .container {
    width: 100%;
    height: 100%;
  }

  .content {
    width: 100%;
    max-width: 320px;
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 40px 5.25vw;
  }

  .main-heading {
    line-height: 1.25;
  }
}


/* Canvas Things */
#canvas-overlay {
  background: linear-gradient(52deg, rgba(255,104,104,1) 0%, rgba(240,220,140,1) 11%, rgba(202,255,132,1) 23%, rgba(109,255,191,1) 36%, rgba(147,230,237,1) 47%, rgba(189,212,255,1) 60%, rgba(230,204,255,1) 71%, rgba(255,255,255,1) 100%);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 1;
}

#canvas-lines {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 0;
}
